
arabic-reshaper==2.1.1
argon2-cffi 
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
attrs 
backcall==0.2.0
bleach 
certifi==2020.12.5
cffi 
colorama 
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.4
django-filter==2.4.0
django-heroku==0.3.1
entrypoints==0.3
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
importlib-metadata
ipykernel 
ipython-genutils
isort==5.6.4
jedi 
Jinja2==2.11.2
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
lazy-object-proxy==1.4.3
Markdown==3.3.3
markdown2==2.3.10
MarkupSafe 
mccabe==0.6.1
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio
notebook 
packaging 
pandocfilters 
parso==0.7.0
pickleshare 
Pillow==8.1.0
prometheus-client 
prompt-toolkit 
psycopg2==2.8.6
pycparser 
Pygments 
pylint==2.6.0

pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent
python-bidi==0.4.2
python-dateutil==2.8.1
pytz==2020.5

pywinpty 
pyzmq==20.0.0
reportlab==3.5.59
Send2Trash 
six 
sqlparse==0.4.1
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado 
traitlets 
wcwidth 
webencodings==0.5.1
whitenoise==5.2.0
wincertstore==0.2
wrapt==1.12.1
xhtml2pdf==0.2.5
zipp